body{
	margin: 0;
	
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: rgb(255, 255, 255);

}
.wrapper{
	width: 940px;
	margin: 0 auto;
	padding: 0px 10px;
}
a{
	text-decoration: none;
}
/*Шапка сайта header-top*/
.header{
	background: rgb(243, 247, 248);
}
.header-top{
	font-size: 17px;
	line-height: 18px;
	color:  rgb(255, 255, 255);
	background: rgb(41, 52, 73);

	display: flex;
	justify-content: space-around;
	
}
.top-menu{
	display: flex;
	justify-content: space-around;
}

/*Логотип*/
.logo{
	font-size: 24px;
	line-height: 24px;
	color:   rgb(255, 255, 255);
	text-transform: uppercase;
	background: rgb(238, 54, 67);
	box-sizing: border-box;
	width: 220px;
	padding: 13px 54px;
	box-shadow: 0px 5px 0px rgb(181, 41, 51);
}
.logo:hover,
.logo:focus,
.logo-footer:hover,
.logo-footer:focus{
	outline: none;
	background: rgb(202, 44, 55);
}
.logo:active,
.logo-footer:active{
	background: rgb(186, 39, 50);
}

/*Поиск*/
.search-form{
	display: block;
	position: relative;
}
.search-field{
	background: rgb(41, 52, 73);
	color:  rgb(255, 255, 255);
	border: none;
	
	font-size: 17px;
	line-height: 18px;
	padding: 16px;
	padding-left: 49px;
	box-sizing: border-box;
	width: 270px;
}
.search-field::-webkit-input-placeholder{
	color:  rgb(255, 255, 255);
}
.search-field:hover{
	outline: none;
	background: rgb(33, 42, 58);
	opacity: 1;
}
.search-field:focus{
	outline: none;
	background:  rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}
.search-form::before{
	content: " ";
	position: absolute;
	width: 17px;
	height: 17px;
	top: 16px;
	left: 17px;
	background-image: url(/img/sprite.svg#accountSearchHover-view);
	opacity: 0.3;
	z-index: 1;
}
.search-link::-webkit-input-placeholder{
	background-image: url(/img/sprite.svg#accountSearchActiv-view);
	opacity: 1;
}

/*
.top-menu form{
	display: block;
	position: relative;
}
.top-menu form::before{
	content: " ";
	position: absolute;
	top: 16px;
	left: 17px;
	width: 17px;
	height: 17px;
	background-image: url(/img/sprite.svg#accountSearchHover-view);
	opacity: 0.3;
}
.top-menu form:hover::before{
	opacity: 1;
}
.top-menu form:focus::before,
.top-menu form:active::before{
	background-image: url(/img/sprite.svg#accountSearchActiv-view);
	opacity: 1;
}
*/



.bookmarks{
	color:  rgb(255, 255, 255);
	padding: 15px;
	padding-left: 45px;

	display: block;
	position: relative;
	flex-grow: 1;
}
.bookmarks::before{
	content: " ";
	position: absolute;
	top: 15px;
	left: 17px;
	width: 14px;
	height: 16px;
	background-image: url(/img/sprite.svg#accountBookmarkHover-view);
	opacity: 0.3;
}
.basket{
	color:  rgb(255, 255, 255);
	padding: 15px;
	padding-left: 45px;
	
	display: block;
	position: relative;
	flex-grow: 1;
}
.basket::before{
	content: " ";
	position: absolute;
	top: 15px;
	left: 17px;
	width: 15px;
	height: 15px;
	background-image: url(/img/sprite.svg#accountCartHover-view);
	opacity: 0.3;
}
.basket:hover::before,
.basket:focus::before,
.bookmarks:hover::before,
.bookmarks:focus::before{
	opacity: 1;
}
.bookmarks:active::before,
.basket:active::before{
	opacity: 0.5;
}

.bookmarks:hover,
.bookmarks:focus,
.basket:hover,
.basket:focus{
	outline: none;
	background: rgb(33, 42, 58);
}
.bookmarks:active,
.basket:active{
	background: rgb(22, 29, 41);
}
.formalize{
	color:  rgb(255, 255, 255);
	background: rgb(99, 166, 62);
	padding: 15px 21px;
	flex-grow: 1;
}
.formalize:hover,
.formalize:focus{
	outline: none;
	background: rgb(95, 187, 45);
}
.formalize:active{
	background: rgb(81, 133, 52);
}
/*Шапка сайта header-bottom*/
.header-bottom{
	font-size: 17px;
	line-height: 17px;
	color:  rgb(255, 255, 255);
	padding-bottom: 65px;
}
.user-info{
	display: flex;
	justify-content: space-between;

}
.user-info h1{
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	color: rgb(238, 54, 67);
	
	padding-top: 49px;
	padding-left: 53px;
	padding-bottom: 44px;
	margin: 0;
}
.user-info span{
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	color: rgb(238, 54, 67);
	
	padding-top: 49px;
	padding-left: 53px;
	padding-bottom: 44px;
	margin: 0;
}
.contact-header{
	margin-top: 46px;
	
}
.phone{
	font-size: 21px;
	line-height: 21px;
	color: rgb(233, 41, 42);
	border: 3px solid  rgb(255, 255, 255);
	
	box-sizing: border-box;
	margin: 0;
	padding: 12px;
	padding-left: 74px;
	padding-right: 45px;
	
	display: block;
	position: relative;
}
.phone::before{
	content: " ";
	position: absolute;
	top: 13px;
	left: 16px;
	width: 19px;
	height: 19px;
	background-image: url(/img/sprite.svg#accountPhone-view);
}
.address{
	font-size: 14px;
	line-height: 24px;
	color: rgb(50, 66, 92);
	margin: 10px;
}
.user-nav{
	margin-top: 46px;
}
.user-nav.login{
	margin: 0;
	display: flex;
}
.login-link{
	font-style: 21px;
	line-height: 21px;
	color: rgb(0, 0, 0);
	background: rgb(255, 255, 255);
	
	margin-right: 10px;
	padding: 12px;
	padding-left: 48px;
	padding-right: 27px;
	
	display: block;
	position: relative;
}
.login-link.user{
	margin: 0px;
	padding-left: 47px;
	padding-right: 69px;
}
.login-link.user::before{
	content: " ";
	position: absolute;
	top: 13px;
	left: 13px;
	width: 20px;
	height: 18px;
	background-image: url(/img/sprite.svg#accountUserHover-view);
	opacity: 0.3;
}
.login-link.user::after{
	content: " ";
	position: absolute;
	top: 14px;
	right: 10px;
	width: 20px;
	height: 17px;
	background-image: url(/img/sprite.svg#accountLogoutHover-view);
	opacity: 0.3;
}
.login-link::before{
	content: " ";
	position: absolute;
	top: 14px;
	left: 14px;
	width: 20px;
	height: 17px;
	background-image: url(/img/sprite.svg#accountLoginHover-view);
	opacity: 0.3;
}
.registration-link{
	font-style: 21px;
	line-height: 21px;
	color: rgb(0, 0, 0);
	background: rgb(255, 255, 255);
	padding: 12px 25px;
}
.login-link:hover,
.login-link:focus,
.registration-link:hover,
.registration-link:focus,
.order:hover,
.account:hover,
.order:focus,
.account:focus{
	outline: none;
	color: rgb(238, 54, 67);
}
.login-link:hover::before,
.login-link:focus::before,
.login-link:hover::after,
.login-link:focus::after{
	opacity: 1;
}
.login-link:active,
registration-link:active,
.order:active,
.account:active{
	color: rgba(0, 0, 0, 0.302);
}
.personal ul{
	list-style: none;
	display: flex;
	padding: 0;
	margin-top: 10px;
	align-items: flex-start;
}
.order,
.account{
	font-size: 16px;
	line-height: 18px;
	color: rgb(50, 66, 92);
	text-decoration: underline;
	padding-left: 18px;
	padding-right: 14px;
	
	display: block;
	position: relative;
	
}
.account::before{
	content: " ";
	position: absolute;
	top: 7px;
	left: 1px;
	width: 4px;
	height: 4px;
	background: rgb(50, 66, 92);
	border-radius: 50%;

}
/*
.order:hover,
.account:hover,
.order:focus,
.account:focus{
	
}
*/

/*Главное меню*/
.menu{
	font-size: 17px;
	line-height: 17px;
	list-style: none;
	background: rgb(50, 66, 92);
	box-shadow: 0px 5px 0px rgb(41, 52, 73);
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}
.nav-menu{
	flex-grow: 1;
}
.nav-menu a{
	color:  rgb(255, 255, 255);
	display: block;
	padding: 19px 31px;
}
.nav-menu a:hover,
.nav-menu a:focus{
	outline: none;
	background: rgb(41, 52, 73);
}
.nav-menu a:active{
	background: rgb(29, 39, 57);
	color: rgba(255, 255, 255, 0.5);
}
/*Хлебные крошки*/
.crumb{
	list-style: none;
	margin: 0;
/*	padding: 0;*/
	
	display: flex;
}
.crumb-link{
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: rgb(0, 0, 0);
	margin: 0;
	padding: 20px;
	
	display: block;
	position: relative;
}
.crumb-link::before{
	content: " ";
	position: absolute;
	top: 20px;
	right: 1px;
	width: 8px;
	height: 12px;
	background-image: url(/img/sprite.svg#"accountRight-small-view);

}


.main-header h1{
	font-size: 30px;
	line-height: 30px;
	color: rgb(50, 66, 92);
	text-transform: uppercase;
	margin: 0;
	padding: 30px 30px;
	background: rgb(242, 246, 248);
}

/*основной контент страницы каталога*/
.content form{
	width: 220px;
	box-sizing: border-box;
	margin-right: 20px;
}
.content section{
	width: 720px;
}

.content{
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	color: rgb(0, 0, 0);
	
	display: flex;
}
.sort{
	font-size: 13px;
	line-height: 18px;
	color: rgb(0, 0, 0);
	background: rgb(247, 243, 236);
	border-radius: 3px;
	margin-top: 20px;
	padding: 10px;
	padding-left: 18px;
}
.sort p{
	margin: auto;
}
.hunt-group{
	border: none;
	padding: 0;
	padding-top: 25px;
	padding-bottom: 25px;
	
	display: flex;
}
.hunt-group legend{
	font-size: 17px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}
.hunt-group-work{
	background: rgb(247, 243, 236);
	width: 220px;
	box-sizing: border-box;
	padding: 30px 20px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;

}
.hunt-group-work-min{
	font-size: 17px;
	line-height: 18px;
	padding: 10px;
	text-align: center;
	width: 95px;
	border-radius: 3px;

}
/*фильтр производителей и питание*/
.search-item{
	padding-left: 35px;
	padding-bottom: 17px;
	
	display: block;
	position: relative;
	}
.search-item input{
	-webkit-appearance: none; 
	cursor: pointer;
}
input[type="checkbox"]::before{
	content: " ";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 27px;
	height: 23px;
	background: url(/img/sprite.svg#accountChecbox-on-view);
   }
input[type="checkbox"]:checked::before {
	content: " ";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 23px;
	height: 23px;   
    background: url(/img/sprite.svg#accountchecbox-off-view);
   }
input[type="checkbox"]:hover::before,
input[type="checkbox"]:focus::before{
	background: url(/img/sprite.svg#accountChecbox-onHover-view);
}
input[type="checkbox"]:checked:hover::before,
input[type="checkbox"]:checked:focus::before{
	background: url(/img/sprite.svg#accountchecbox-offHover-view);	
}
input[type="radio"]::before{
	content: " ";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 25px;
	height: 25px;
	background: url(/img/sprite.svg#accountRadio-offHover-view);
}
input[type="radio"]:checked::before{
	content: " ";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 25px;
	height: 25px;
	background: url(/img/sprite.svg#accountRadio-onHover-view);
}


.nav-page{
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;

	list-style: none;
	margin: 0;
	padding: 0;
	
	display: flex;
}
.nav-page li{

	border: 1px solid rgb(229, 229, 229);
	border-radius: 3px;
	margin-right: 10px;
	height: 38px;
}


.item-menu{
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
	margin-bottom: 53px;
	
}
.item-menu-left{
	display: flex;
	flex-wrap: wrap;
}
.item-menu h3{
	font-size: 24px;
	line-height: 30px;
	color:  rgb(255, 255, 255);
	font-weight: 700;
	margin: 0 0 16px;
}
.item-menu a{
	font-size: 14px;
	line-height: 18px;
	color:  rgb(255, 255, 255);
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.1);
}
.item-menu a:hover,
.item-menu a:focus{
	outline: none;
	background: rgba(0, 0, 0, 0.2);
}
.item-menu a:active{
	background: rgba(0, 0, 0, 0.3)
}
.material a{
	padding: 10px 22px;
	border-radius: 5px;
}
.material{
	background: rgb(255, 191, 71);

	box-sizing: border-box;
	width: 300px;
	margin: 0px 10px 10px 0px;
	padding: 26px 22px;
	
	display: block;
	position: relative;
}
.material::before{
	content: " ";
	position: absolute;
	left: 212px;
	width: 44px;
	height: 65px;
	background-image: url(/img/sprite.svg#accounticon-1-view);
}
.tooling a{
	padding: 10px 27px;
	border-radius: 5px;
}
.tooling{
	background: rgb(59, 188, 227);
	
	box-sizing: border-box;
	width: 300px;
	margin: 0px 10px 10px 10px;
	padding: 26px 22px;
	
	display: block;
	position: relative;
}
.tooling::before{
	content: " ";
	position: absolute;
	left: 198px;
	width: 75px;
	height: 61px;
	background-image: url(/img/sprite.svg#accounticon-2-view);
}
.technique a{
	padding: 10px 30px;
	border-radius: 5px;	
}
.technique{
	background: rgb(220, 145, 216);

	box-sizing: border-box;
	width: 300px;
	margin: 0px 0px 20px 10px;
	padding: 26px 22px;
	
	display: block;
	position: relative;
}
.technique::before{
	content: " ";
	position: absolute;
	left: 191px;
	width: 78px;
	height: 62px;
	background-image: url(/img/sprite.svg#accounticon-3-view);
}
.discount a{
	padding: 10px 22px;
	border-radius: 5px;
}
.discount{
	background: rgb(142, 215, 143);

	box-sizing: border-box;
	width: 300px;
	margin: 10px 0px 20px 10px;
	padding: 26px 22px;
	
	display: block;
	position: relative;
}
.discount::before{
	content: " ";
	position: absolute;
	left: 196px;
	width: 59px;
	height: 72px;
	background-image: url(/img/sprite.svg#accounticon-4-view);
}
.delivery a{
	padding: 10px 37px;
	border-radius: 5px;	
}
.delivery{
	background: rgb(255, 191, 71);

	box-sizing: border-box;
	width: 300px;
	margin: 10px 0px 0px 10px;
	padding: 26px 22px;
	
	display: block;
	position: relative;
}
.delivery::before{
	content: " ";
	position: absolute;
	left: 191px;
	width: 78px;
	height: 63px;
	background-image: url(/img/sprite.svg#accounticon-5-view);
}
.slider{
	background: url(/img/Layer%2099.jpg);
	width: 620px;
	height: 266px;
	margin: 10px 10px 0px 0px;
}
.popular{
	color: rgb(50, 66, 92);
	background: rgb(249, 245, 240);
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	padding: 30px;
}
.popular h2{
	font-size: 30px;
	line-height: 30px;
	margin: 0;
}
.popular a{
	padding: 10px 55px;
}
.goods{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.snippet{
	border: 1px solid rgb(234, 234, 234);
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;	
}
.goods-snippet{
	height: 183px;
	margin: auto;
	display: flex;

}
.price{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.purchase{
	display: none;
}
.snippet:hover .goods-foto,
.snippet:focus .foto{
	display: none;
}
.snippet:hover .purchase,
.snippet:focus .purchase{
	display: block;
}
/*кнопка купить*/
.goods.buy{
	font-size: 14px;
	line-height: 18px;
	color:  rgb(255, 255, 255);
	text-transform: uppercase;
	margin-top: 45px;
	padding: 10px;
	padding-left: 49px;
	padding-right: 45px;
	
	background: rgb(99, 166, 62);
	box-shadow: 0px 3px 0px rgb(54, 115, 21);
	border-radius: 3px;
	
	display: block;
	position: relative;
	
}
.goods.buy::before{
	content: " ";
	position: absolute;
	top: 11px;
	left: 12px;
	width: 15px;
	height: 15px;
	background-image: url(/img/sprite.svg#accountCartHover-view);
	opacity: 0.3;
}
.goods.buy:hover,
.goods.buy:focus{
	background: rgb(95, 187, 45);
}
.goods.buy:hover::before,
.goods.buy:focus::before{
	opacity: 1;
}
.goods.buy:active{
	background: rgb(95, 187, 45);
}
.goods.buy:active::before{
	opacity: 0.5;
}
/*Кнопка в закладки*/
.goods.bookmarks-this{
	font-size: 14px;
	line-height: 18px;
	color: rgb(50, 66, 92);
	text-transform: uppercase;
	margin-top: 7px;
	padding: 7px;
	padding-left: 33px;
	padding-right: 29px;
	
	background:  rgb(255, 255, 255);
	border: 3px solid rgb(54, 115, 21);
	border-radius: 3px;
	
}
.goods.bookmarks-this:hover,
.goods.bookmarks-this:focus{
	border-color:rgb(50, 66, 92);
}
.goods.bookmarks-this:focus{
	opacity: 0.3;
}


.goods.button{
	padding: 10px 36px;
	margin: 13px 36px 21px 43px;
	display: block;
	position: relative;
}
.goods.button::before{
	content: " ";
	position: absolute;
	top: 0;
	right: -19px;
	border: 19px solid  rgb(255, 255, 255);
	border-left: 19px solid transparent;
}

.new::before{
	content: " ";
	position: absolute;
	top: 0;
	right: 0px;
	width: 60px;
	height: 59px;
	background-image: url(/img/new%20flag.png);
}

.snippet:hover{
	border: none;
	box-shadow: 0px 10px 25px rgba(41,52,73,0.5);
}
.price h3{
	font-size: 18px;
	line-height: 20px;
	color: rgb(0, 0, 0);
	font-family: "PT Sans", Arial, sans-serif;
	text-align: center;
	margin-bottom: auto;
}
.goods span{
	color: rgb(169, 169, 169);
	text-decoration: line-through;
	text-transform: uppercase;
}
.popular-maker{
	margin-top: 53px;
}
.button.maker{
	padding: 10px 70px;
}
.manufacturer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.manufacturer a{
	width: 220px;
	height: 145px;
	margin: 10px 0px;
}
.snippet img{
	margin: auto;
}
/*Сервис*/
.service{
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: rgb(0, 0, 0);
	background: rgb(244, 248, 249);
	margin: 0px;
	margin-top: 75px;
	padding-top: 68px;
}
.service h2{
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	margin: 0;
}
.service h3{
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 36px;
	line-height: 24px;
	text-transform: uppercase;
	color: rgb(50, 66, 92);
}
.tabs { 
	display: flex; 
	flex-direction: column; 
	padding: 0;
	padding-top: 77px;
	padding-bottom: 102px;
	margin: 0; 
	position: relative; 
} 
.tabs-label {
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
	color:  rgb(255, 255, 255);
	
	box-sizing: border-box;
	padding: 15px 22px;
	width: 240px; 
	background: rgb(50, 66, 92);
	outline: 1px solid rgb(71, 98, 123);
} 
.tabs-label:hover,
.tabs-label:focus{
	background: rgb(41, 52, 73);
}
.tabs-label:active{
	color: rgb(50, 66, 92);
	background:  rgb(255, 255, 255);
}
.tabs-input { 
display: none; 
} 
.tabs-input:checked + .tabs-description { 
display: block; 
} 
.tabs-description { 
	display: none; 
	position: absolute;
	box-sizing: border-box;
	height: 278px;
	width: 700px; 
	right: 0; 
	top: 50%; 
	transform: translateY(-50%); 
	padding-left: 74px;
	background: linear-gradient(to left rgb(0, 0, 0)  rgb(255, 255, 255) );

}
.button.credit{
	padding: 10px 44px;
}
.tabs-description:nth-of-type(1){
	background: url(/img/delivery.png) no-repeat;
	background-position: right bottom;
}
.tabs-description:nth-of-type(2){
	background: url(/img/guarantee.png) no-repeat;
	background-position: right bottom;
}
.tabs-description:nth-of-type(3){
	background: url(/img/credit.png) no-repeat;
	background-position: right bottom;
}


/*Блок о компании и как добраться до нас*/
.info-company{
	font-family: "PT Sans", Arial, sans-serif;
	font-size:13px;
	line-height: 24px;
	color: rgb(0, 0, 0);
	margin-top: 82px;
	padding-bottom: 86px;
	display: flex;
	justify-content: space-between;
}
.info-company h2{
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.company{
	width: 540px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.contact{
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.information{
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	margin: 0;
	list-style: none;
}
.information li{
	padding: 12px 0px;
	
	display: block;
	position: relative;
}
.information li::before{
	content: " ";
	position: absolute;
	top: 21px;
	left: -36px;
	width: 25px;
	height: 2px;
	background: rgb(238, 54, 67);
}
.button.company{
	margin-top: 40px;
	padding: 10px;
	width: 220px;
	box-sizing: border-box;
	align-items: center;
}
.button.contact{
	margin-top: 40px;
	padding: 10px;
	box-sizing: border-box;
	align-items: center;
}
.map{
	background: url(/img/map-form.png);
	width: 970px;
	height: 476px;
	display: none;
}
/*нформация о товаре*/
.product{
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: rgb(0, 0, 0);
	background: rgb(242, 246, 248);
	padding-top: 68px;
	padding-bottom: 39px;

}
.product h2{
	font-family: "Cuprum", Arial< sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
}
/*Подвал сайта*/
.footer{
	background: rgb(50, 66, 92);
}
.footer-top{
	display: flex;
	justify-content: space-between;
}
.logo-footer{
	font-size: 30px;
	line-height: 30px;
	padding: 21px 41px;
}
.footer-middle{
	display: flex;
	justify-content: space-between;
}

.footer address{
	margin-top: 37px;
	margin-bottom: 45px;
}
.footer-menu{
	font-size: 18px;
	line-height: 24px;
	list-style: none;
	padding: 0;
	width: 550px;
	
	display: flex;
	justify-content: space-between;
	
}


.footer-menu-link{
	color:  rgb(255, 255, 255);
}
.footer-midle-b{
	padding-left: 23px;
	color: rgb(255, 209, 128);
}
.footer-menu-link:hover,
.footer-menu-link:focus{
	outline: none;
	text-decoration: underline;
}
.footer-menu-link:active{
	text-decoration: underline;
	color: rgba(25, 255, 255, 0.5);
}
.footer-midle-b:hover,
.footer-midle-b:focus{
	outline: none;
	text-decoration: underline;
}
.footer-midle-b:active{
	text-decoration: underline;
	color: rgba(255, 209, 128, 0.5);
}
.footer address{
	font-size: 18px;
	line-height: 24px;
	color: rgb(241, 245, 247);
}
.copyright{
	font-size: 16px;
	line-height: 18px;
	background: rgb(41, 52, 73);
}
.copyright .wrapper{
	display: flex;
	justify-content: space-between;

}
.social-buttons{
	list-style: none;
	display: flex;
	padding: 0;
}
.social-buttons li{
	background: rgb(33, 42, 58);
	width: 42px;
	height: 42px;
	border-radius: 50%;
	margin-left: 5px;
	
	display: block;
	position: relative;
}
.social-buttons-vk::before{
	content: " ";
	position: absolute;
	top: 13px;
	left: 8px;
	width: 26px;
	height: 15px;
	background-image: url(/img/sprite.svg#accountVK-view);
}
.social-buttons-fac::before{
	content: " ";
	position: absolute;
	top: 10px;
	left: 14px;
	width: 12px;
	height: 22px;
	background-image: url(/img/sprite.svg#accountFb-view);
}
.social-buttons-ins::before{
	content: " ";
	position: absolute;
	top: 10px;
	left: 10px;
	width: 21px;
	height: 21px;
	background-image: url(/img/sprite.svg#accountInsta-view);
}
.social-buttons li:hover,
.social-buttons li:focus,
.social-buttons li:active{
	background: rgb(238, 54, 67);
}
.copyright a{
	color: rgb(255, 209, 128);
}
.copyright a:hover,
.copyright a:focus{
	outline: none;
	text-decoration: underline;
}
.copyright a:active{
	color: rgb(238, 54, 67);
}
.button{
	font-size: 14px;
	line-height: 18px;
	color:  rgb(255, 255, 255);
	background: rgb(238, 54, 67);
	text-transform: uppercase;
	border-radius: 5px;
}
.button:hover,
.button:focus{
	outline: none;
	background: rgb(202, 44, 55);
}
.button:active{
	background: rgb(186, 39, 50);
}





